/* AppComponent's private CSS styles */

h1 {
    margin-bottom: 0;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #435960;
    color: white;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: black;
  }
  nav a:active {
    background-color: black;
  }
  h1 {
    margin-top: 2%;
    size: 20%;
    color: #435960;
    font-weight: bold;
  }
  .home{
    margin-left: 3%;
  }
  body{
    background-image: url('../assets/images/batman-3351414_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .blue-toolbar {
    margin-left: -3%;
    margin-top: 0%;
    font-weight: bold;
    background-color:#435960;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  
  